<%= form_for(@biorain) do |f| %>
  <% if @biorain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@biorain.errors.count, "error") %> prohibited this biorain from being saved:</h2>

      <ul>
      <% @biorain.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
