<div id="biorains" class="transitions-enabled">
  <% @biorains.each do |biorain| %>
    <div class="box box panel panel-default">
      <%= image_tag biorain.image.url(:medium) %>
        <div class="panel-body">
          <%= biorain.description %>
          <%= biorain.user.email if biorain.user %>
          <%= link_to 'Show', biorain %>
            <% if biorain.user == current_user %>
              <td><%= link_to 'Edit', edit_biorain_path(biorain) %>
              <td><%= link_to 'Destroy', biorain, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </div>
     </div>
  <% end %>
</div>