<h1>Listing biorains</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>User</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @biorains.each do |biorain| %>
      <tr>
        <td><%= biorain.description %></td>
        <td><%= biorain.user.email if biorain.user %></td>
        <td><%= link_to 'Show', biorain %></td>
        <% if biorain.user == current_user %>
          <td><%= link_to 'Edit', edit_biorain_path(biorain) %></td>
          <td><%= link_to 'Destroy', biorain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Biorain', new_biorain_path %>
<% end %>