<div id="biorains" class="transitions-enabled">
  <% @biorains.each do |biorain| %>
    <div class="box box panel panel-default">
      <%= image_tag biorain.image.url(:medium) %>
        <div class="panel-body">
          <%= biorain.description %><br>
          <p>Added by: <%= biorain.user.first_name if biorain.user %></p>
          <%= link_to 'Show', biorain %>
            <% if biorain.user == current_user %>
              <td><%= link_to 'Edit', edit_biorain_path(biorain) %>
              <td><%= link_to 'Destroy', biorain, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </div>
     </div>
  <% end %>
</div>


<div class="center">
  <%= will_paginate @biorains, renderer: BootstrapPagination::Rails %>
</div>