<%= link_to 'Back', biorains_path %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @biorain.image.url(:medium) %>
      </div>
      <div class="panel-body">
        <p><%= @biorain.description %></p>
        <p><strong><%= @biorain.user.email if @biorain.user %></strong></p>

        <% if @biorain.user == current_user %>
         <%= link_to 'Edit', edit_biorain_path(@biorain) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
