<%= form_for @dancer, html: { multipart: true } do |f| %>
  <% if @dancer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dancer.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @dancer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h1>Dancer Registration</h1>

     <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "form-control", :autofocus => true %>
      </div>

      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control", :autofocus => true %>
      </div>

      <div class-"form-group">
        <div class="radio-inline">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="Female" checked>
                Female
            </label>
          </div>
          <div class="radio-inline">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="Male">
                Male
            </label>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :birthdate %><br>
        <%= f.text_field :birthdate, :id => "datetimepicker", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Register", class: "btn btn-primary" %>
      </div>

      <% end %>
    </div>